.header {

    background-color: #acd6e4;
}

.logo {
    border: 1px dashed;
    background-color: #d8a420;
}

.nav {
    border: 1px dashed;
    background-color: #d8a420;
}

.log-in {
    border: 1px dashed;
    background-color: #d8a420;
}