body {
    background-color: grey;
}

.header {
    height: 50px;
    background-color: #acd6e4;
}

.header div {
    border: 1px dashed;
    background-color: #d8a420;
}

.welcome-box {
    height: 250px;
    background-color: #00008a;
}

.welcome-box .box {
    height: 70%;
    width: 60%;
    border: 1px dashed;
    background-color: #ec81ec;
}

section {
    height: 300px;
}

.section-normal {
    background-color: #fdfdfd;
}

.section-reversed {
    background-color: #d1d1d1;
}

.section-content {
    height: 100%;
}

.content1 {
    height: 80%;
    border: 1px dashed;
    background-color: #1e8ffd;
}

.content2 {
    height: 80%;
    border: 1px dashed;
    background-color: #fdbec9;
}