* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header div {
    padding: 3px;
}

.logo {
    flex: 0 1 10%;
}

.nav {
    flex: 0 1 50%;
}

.log-in {
    flex: 0 1 10%;
    text-align: right;
}

.nav .nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 5px;
}

.welcome-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content1 {
    flex: 0 1 45%;
}

.content2 {
    flex: 0 1 25%;
}

.section-reversed .section-content {
    flex-direction: row-reverse;
}


.green-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-section .content {
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

.last-section .content .rose-box {
    flex: 0 1 20%;
}

.last-section .content .box {
    flex: 0 1 calc(50% / 4);
}

footer {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div {
    padding: 3px;
}

